version: "3.9"

networks:
  elastic:

services:
  fluent-bit:
    image: fluent/fluent-bit:latest
    volumes:
      - ./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      - /var/log:/var/log
    ports:
      - "5170:5170"
    deploy:
      resources:
        limits:
          memory: 60m
    networks:
      - elastic

  elasticsearch:
    image: elasticsearch:8.4.1
    restart: on-failure
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
      - xpack.security.enabled=false
    deploy:
      resources:
        limits:
          memory: 1g
    depends_on:
      - fluent-bit
    networks:
      - elastic

  fp-proxy:
    image: fiberplane/proxy:v1
    container_name: fp-proxy
    restart: unless-stopped
    volumes:
      - ./data_sources.yaml:/app/data_sources.yaml
    command:
      - --auth-token=${FP_PROXY_TOKEN:?err}
      - --status-check-interval=15s
    networks:
      - elastic
    depends_on:
      - elasticsearch
      - fluent-bit
  


  

