version: '3.9'

networks:
  loki:

services:
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki

  promtail:
    image: grafana/promtail:latest
    volumes:
      - /var/log:/var/log
      - ./config.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
    networks:
      - loki

  fp-proxy:
    image: fiberplane/proxy:v1
    container_name: fp-proxy
    restart: unless-stopped
    volumes:
      - ./data_sources.yaml:/app/data_sources.yaml
    command:
      -  --auth-token=${FP_PROXY_TOKEN:?err}
    networks:
      - loki
    depends_on:
      - loki
      - promtail
